html, body {
	height: 100%;
	background: #efeff4;
}
.zp-container {
	box-sizing: border-box;
	background: white;
	border-radius: 4px;
	width: 96%;
	margin: 0 auto;
}
.light-color {
	color: #f86648;
}
.l-center {
	margin: 0 2%;
}
.mt-10 {
	margin-top: 10px;
}